<%= form_with(model: comment, local: true) do |form| %>
<%= hidden_field_tag "car_id", @car.id unless @car.blank?%>
  <% unless comment.blank?%>
    <% if comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <%end%>


  <table class="table table-striped table-bordered table-hover custom_css_for_tbl" align="center">
      <%unless @car.blank?%>
          <tr>
              <td class="fields_css"><%= form.label :car_id %><span>:</span></td>
              <td><%= @car.model %></td>
          </tr>

          <tr>
              <td class="fields_css"><%= form.label :make %><span>:</span></td>
              <td><%= @car.make %></td>
          </tr>

          <tr>
              <td class="fields_css"><%= form.label :year %><span>:</span></td>
              <td><%= @car.year%></td>
          </tr>
      <%end%>

      <tr>
          <td class="fields_css"><%= form.label :commnet_body %><span>:</span></td>
          <td><%= form.text_area :commnet_body,  :class=>"form-control", :placeholder => "Enter Comment"%></td>
      </tr>
  </table>

  <div class="text-center">
      <%= form.submit class: "btn btn-primary" %>
      <%= link_to 'Show Cars', cars_path, class: "btn btn-primary" %>
      <%= link_to 'All Comments', comments_path, class: "btn btn-primary" %>
  </div>

<% end %>
