<p id="notice"><%= notice %></p>

<h1 class="text-center">Comments</h1>

<table class="table table-striped table-bordered table-hover margin_top" align="center">
    <thead>
      <tr class="table_row_css">
          <th>Car</th>
          <th>Commnet body</th>
          <th colspan="3"></th>
      </tr>
    </thead>

  <tbody>
      <% unless @comments.blank?%>
          <% @comments.each do |comment| %>
              <tr>
                  <td><%= comment.car_id %></td>
                  <td><%= comment.commnet_body %></td>
                  <td><%= link_to 'Show', comment %></td>
                  <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
                  <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      <% else %>
              <tr><td colspan="5" class="text-center;">No data to show</td></tr>
      <%end%>
  </tbody>
</table>