<p id="notice"><%= notice %></p>

<h1 class="text-center">Details of Comment</h1>
<table class="table table-striped table-bordered" align="center">
    <thead>
	    <tr class="table_row_css">
	      <th>Car</th>
	      <th>Comment</th>
	      <th colspan="3"></th>
	    </tr>
	</thead>
  
    <tbody>
        <tr>
            <td><%= @comment.car_id %></td>
            <td><%= @comment.commnet_body %></td>
            <td><%= link_to 'Edit', edit_comment_path(@comment) %></td>
            <td><%= link_to 'Show Cars', cars_path %></td>
        </tr>
    </tbody>
</table>