<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table align="center">
      <tr>
          <td><%= form.label :model %><span>:</span></td>
          <td><%= form.text_field :model,  :class=>"form-control", :placeholder => "Enter Model"%></td>
      </tr>

      <tr>
          <td><%= form.label :make %><span>:</span></td>
          <td><%= form.text_field :make,  :class=>"form-control", :placeholder => "Enter Make"%></td>
      </tr>
      
      <tr>
          <td><%= form.label :year %><span>:</span></td>
          <td><%= form.number_field :year,  :class=>"form-control", :placeholder => "Enter Year"%></td>
      </tr>

      <tr class="actions">
          <td></td>
          <td style="padding-top: 10px;"><%= form.submit %>
            <%= link_to 'Cars', cars_path %>|
            <%= link_to 'Show', @car %>
          </td>
      </tr>
  </table>

<% end %>


