<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table class="table table-striped table-bordered table-hover custom_css_for_tbl" align="center">
      <tr>
          <td class="fields_css"><%= form.label :model %><span>:</span></td>
          <td><%= form.text_field :model,  :class=>"form-control", :placeholder => "Enter Model"%></td>
      </tr>

      <tr>
          <td class="fields_css"><%= form.label :make %><span>:</span></td>
          <td><%= form.text_field :make,  :class=>"form-control", :placeholder => "Enter Make"%></td>
      </tr>
      
      <tr>
          <td class="fields_css"><%= form.label :year %><span>:</span></td>
          <td><%= form.number_field :year,  :class=>"form-control", :placeholder => "Enter Year"%></td>
      </tr>
  </table>

  <div class="text-center">
        <%= form.submit class: "btn btn-primary" %>
        <%= link_to 'Show Cars', cars_path, class: "btn btn-primary" %>
  </div>
<% end %>


