<p id="notice"><%= notice %></p>
<h1 class="text-center">Details of Car</h1>
<table class="table table-striped table-bordered" align="center">
    <%= render partial: "header_data" %>
  
    <tbody>
        <tr>
            <td><%= @car.model %></td>
            <td><%= @car.make %></td>
            <td><%= @car.year %></td>
            <td><%= @car.comments.map{|e_comment| e_comment.commnet_body}.join(", ")%></td>
            <td><%= link_to 'Edit', edit_car_path(@car) %></td>
            <td><%= link_to 'Show Cars', cars_path %></td>
        </tr>
    </tbody>
</table>